@font-face{
	font-family: 'TitilliumWeb-SemiBold', sans-serif;
	src: url('../fonts/TitilliumWeb-SemiBold.eot');
	src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('eot'),
	url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
	url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
	url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
	url('../fonts/TitilliumWeb-SemiBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'TitilliumWeb-Bold', sans-serif;
	src: url('../fonts/TitilliumWeb-Bold.eot');
	src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('eot'),
	url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
	url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
	url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
	url('../fonts/TitilliumWeb-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'TitilliumWeb-Regular', sans-serif;
	src: url('../fonts/TitilliumWeb-Regular.eot');
	src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('eot'),
	url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
	url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
	url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
	url('../fonts/TitilliumWeb-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-image: url("../img/bg.png");
	background-repeat: repeat;
	background-color:#F7E9C9;
	font-family: 'TitilliumWeb-Regular', sans-serif;
}
header {
	margin: 0 auto;
	width: 90%;
	height: 100%;
}	
.home-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;
}
.phone {
	max-width: 500px;
	display: flex;
	align-items: center;
	margin-right: 50px;
	flex-wrap: wrap;
}
.phone a{
	text-decoration: none;
	color:#8A3A62;
	font-size: 18px;
	font-weight: bold;
	margin-right: 30px;

}
.phone a i {
	margin-right: 5px;
}
.phone p {
	color:#8A3A62;
	font-size: 18px;
	font-weight: bold;
}
.home-menu nav {
	margin: 0 auto;
}
.home-menu nav a {
	text-decoration: none;
	color:#8A3A62;
	font-size: 20px;
	font-weight: bold;
	margin: 0 10px;
}
.home-menu nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}
.home-menu nav li {
	min-width: 77px;
	height: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-menu nav a:after {
	display: block;
	content: "";
	height: 2px;
	width: 0%;
	background-color: #660A38;
	transition: width .5s ease-in-out;
}
.home-menu nav a:hover:after,
.home-menu nav a:focus:after {
	width: 100%;
}
.iconnav {
	display: none;
	font-size: 20px;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 100%;
	background: #8A3A62;
	padding: 10px 10px;
}
.logo a {
	margin: 0;
}
.form {
	width: 500px;
	display: flex;
	margin: 0;
}
.form input {
	width: 80%;
	height: 40px;
	border:1px solid #8A3A62;
	border-radius: 25px;
	outline: none;
	color:#8A3A62;
}
input::placeholder {
	color:#8A3A62;
}
input{
	text-indent: 15px;
}
.btn {
	width: 36px;
	height: 36px;
	background:#8A3A62 ;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
	color:#fff;
	margin: 2px -42px;
	border:2px solid #fff;
}
.cart {
	width: 36px;
	height: 36px;
	margin: 0;
	background:#fff ;
	border-radius: 50%;
	cursor: pointer;
	border:2px solid #8A3A62;
	display: flex;
	justify-content: center;
}
.cart a {
	line-height: 36px;
	font-size: 15px;
	color:#8A3A62;
}

.social {
	margin-right: 100px;
	width: 50px;
	display: flex;
}
.social a {
	text-decoration: none;
	margin-left: 15px;
	font-size: 20px;
	color: #fff;
}

.categories {
	height: 100%;
	margin: 30px auto;
	background: #8A3A62;
}
.cat-menu {
	list-style: none;
	position: relative;
	display: flex;
	justify-content:center;
	z-index: 10;
}
.menu1,
.menu2,
.menu3,
.menu4 {
	display:inline-block;
	padding:0 30px;
	color:#FFF;
	font-size:15px;
	line-height: 60px;
	text-decoration:none;
	font-weight: bold;
	letter-spacing: 2px;
}
.menu1:hover {
	background-color: #3771a8;
}
.menu2:hover {
	background-color:  #b1d404;
}
.menu3:hover {
	background-color: #e54e39;
}
.menu4:hover {
	background-color: #f77a2f;
}
.cat1-ul, 
.cat2-ul,
.cat3-ul,
.cat4-ul {
	display: none;
	position: absolute;
	top: 100%;
	left:0;
}
.cat-menu1:hover >.pod-menu-cu ul.cat1-ul {
	display:inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background:  #3771a8;
	opacity: 0.9;
}
.cat1-li {
	float:none;
	display:table-cell;
	position: relative;
	background-color: #3771a8;
	height: 250px;
}
.cat1-a,
.cat2-a,
.cat3-a,
.cat4-a {
	display:inline-block;
	color:#FFF;
	font-size:20px;
	text-decoration:none;
	font-weight: bold;
	width: 320px;
	text-align: center;
	padding: 10px;
}
.cat3-a {
	width: 405px;
}
.cat-menu a:hover {
	color:#444;
}

.vibrator-a {
	text-decoration: none;
	color:#fff;
	max-width: 100px;
	padding: 10px;
	text-align: center;
}
.vibrator,
.falloimitatoru,
.mastyrbatoru,
.analnue,
.straponu,
.pompu,
.nasadki,
.prikolu,
.prochie,
.vozbyditel,
.dyxi,
.smazki,
.prolongatoru,
.kosmetika {
	list-style: none;
	text-align: center;
}
.falloimitatoru a,
.mastyrbatoru a,
.analnue a,
.straponu a,
.pompu a,
.nasadki a,
.prikolu a,
.prochie a,
.vozbyditel a,
.dyxi a,
.smazki a,
.prolongatoru a,
.kosmetika a {
	text-decoration: none;
	color:#fff;
	max-width: 100px;
	padding: 10px;
}
.cat2-li {
	float:none;
	display:table-cell;
	position: relative;
	background-color:  #b1d404;
	height: 200px;
	text-decoration: none;
	list-style: none;
	text-align: center;
}
.cat-menu2:hover >.pod-menu-cm ul.cat2-ul {
	display:inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background:   #b1d404;
	opacity: 0.9;
}
.cat3-li {
	float:none;
	display:table-cell;
	position: relative;
	background-color: #e54e39;
	height: 200px;
}
.cat-menu3:hover >.pod-menu-fe ul.cat3-ul {
	display:inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	background:   #e54e39;
	opacity: 0.9;
}
.cat4-li {
	float:none;
	display:table-cell;
	position: relative;
	background-color: #f77a2f;
	height: 200px;
}
.cat-menu4:hover >.pod-menu-be ul.cat4-ul {
	display:inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	background:   #f77a2f;
	opacity: 0.9;
}
/* -----------------------ACCORDEON------------------------------- */

.accord {
	width: 100%;
	display: none;
	margin-bottom: 10px;
}

.accordion-menu {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.accordion-menu li.open .accord_div {
	color: #444;
}
.accordion-menu li.open .accord_div .fa-chevron-down {
	
	transform: rotate(180deg);
}

.accordion-menu li {
	list-style: none;
}

.accordion-menu a {
	text-decoration: none;
}
.accord_div {
	min-width: 300px;

	cursor: pointer;
	display: block;
	padding: 10px 0;
	font-size: 18px;
	border-bottom: 1px solid #444;
	color: #444;
	position: relative;
	transition: all 0.4s ease-out;
	text-align: center;
}
.accord_div .fa-chevron-down {
	right: 12px;
}
.accord_ul {
	display: none;

}
.accord_ul li {
	border-bottom: 1px solid #444;
}
.accord_ul a {
	display: block;
	color: #444;
	padding: 10px 0;
	transition: all 0.4s ease-out;
}

/* -----------------------CAROUSEL--------------------------- */



.carousl {
	width: 90%;
	margin: 0 auto;
}

.carousel { 
	width: 100%;
	height: 100%; 
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 30px; 
}
.carousel img {
	margin: 0 auto 15px;
	max-width: 100%;
	max-height: 400px;
}

.assorty {
	width: 90%;
	margin: 30px auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.popular,
.freedom,
.sexy {
	text-align: center;
	width: 100%;
	max-width: 350px;
	min-height: 450px;
	margin-bottom: 20px;
	border: 1px solid #8A3A62;
	background:#e6e6e6;
	border-radius: 20px;
	box-shadow: 0 0 10px;
	padding-bottom: 5px;
}
.ex-lu {
	width: 100%;
	max-width: 350px;
	height: 450px;

}
.exlusive,
.lubric {
	width: 350px;
	height:200px;
	border: 1px solid #8A3A62;
	background:#e6e6e6;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.assorty h3 {
	text-align: center;
	margin-top: 10px;
	font-size: 22px;
	color:#444;
	font-weight: bold;
}

.popular-a,
.freedom-a {
	width: 100px;
	height: 100px;
	border-radius:50%;
	text-decoration: none;
	border:1px solid #999;
	display: inline-block;
	margin: 25px 20px;
	background: #fff;
}
.popular-a img,
.freedom-a img { 
	width: 100px;
	height: 100px;
	border-radius:50%;
	overflow: hidden;
}
.popular-a p,
.freedom-a p {
	margin: 0 auto;
}
.popular-a-p,
.freedom-a-p {
	text-decoration: none;
	color:#444;
}
hr {
	margin-top: 30px;
	color:#333;
}
.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 250px;
	height: 370px;
	margin: 0 auto;
}
.item img {
	margin: 0 auto;
	max-width: 200px;
	max-height: 320px;
}
.item p {
	margin: 0 auto;
	color:#444;
	font-size: 20px;
	text-transform: capitalize;
}
.owl-dots{
	margin: -10px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot  {
	width: 20px;
	height:20px;
	border:1px solid #444;
	border-radius: 50%;
	outline: none;
	margin-right: 5px;
}
.owl-carousel button.owl-dot.active {
	background: #444;
}
.ex-lu-a img,
.lubric-a img {
	max-width: 250px;
	max-height: 140px;
	margin: 0 auto;
}
.ex-lu a{
	text-decoration: none;
}
.container {
	width: 350px;
	height: 250px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	text-align: center;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.lubric,
.exlusive {
	transform: translatez(50px) scale(1);
	line-height: 24px;
}
.exlusive h3,
.lubric h3 {
	margin: 10px auto;
	position: relative;
	text-align: center;
	font-size: 22px;
	color:#444;
	font-weight: bold;
}

.front {
	z-index: 2;	
}
.back {
	transform: rotateY(180deg);
	z-index: 0;
}
.back p {
	text-align: center;
	font-size: 16px;
	color:#444;
	margin-top: 20px;
}
.container:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/*-----------------------ITEM------------------*/
.stim {
	width: 90%;
	height: 100%;	
	margin: 0 auto;
	text-align: center;
}
.stim h1 {
	margin: 20px auto;
	font-weight: bold;
	font-size: 36px;
	color: #444;
}
.stimtov {
	width: 100%;
	height: 100%;
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.stima {
	width: 290px;
	height: 450px;
	margin:15px;
}
.stim a {
	text-decoration: none;
	color:#444;
	cursor:pointer;
}
.stim-d {
	width: 290px;
	height: 450px;
	border: 1px solid #111;
	border-radius: 20px;
	background: #F7E9C9;
	box-shadow: 0 0 10px rgba(0,0,0,2);
	text-align: center;
	display: flex;
	flex-direction: column;
}
.stim-h5 {
	font-size: 16px;
	font-weight: 600;
	line-height: 5px;
	margin-bottom: 10px;
}
.stim-d img {
	max-width: 260px;
	height: 250px;
	margin: 0 auto;
}
.stim-p { 
	font-size: 12px;
	text-align: center;
	margin: 20px 20px 10px;
}
.stim-s {
	font-size: 24px;
	font-weight: 600;
	margin: 0 auto;

}
.stim-d:hover {
	box-shadow: 0 0 40px rgba(0,0,0,1);
}

/*------------- DOSTAVKA ----------*/
#demo {
	width: 90%;
	max-width: 700px;
	margin: 20px auto;
}
#demoBackground {
	position: relative;   
	height: 100px;
	visibility:hidden;
	width: 90%;
}
#txtContainer {
	position: absolute;
}
.txt {
	font: 36px monospace;
	position: absolute;
	color: #afafaf;
	font-weight: bold;
}
.block {
	display: none;
	margin-bottom: 30px;
}
.text {
	width: 90%;
	max-width: 700px;
	min-height: 700px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 50px;

}
.text p {
	color: #444;
	font-size: 16px;
	margin-bottom: 30px;
}
.text span {
	font-weight: bold;
	color: #8A3A62;
}
.text h2 {
	display: none;
	color: #8A3A62;
}
/* -----------KONTAKTY------------- */
.contakt {
	width: 90%;
	height:100%;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper {
	position: absolute;
	font-size: 36px;
}

.wave {
	color: #333;
	-webkit-animation: 0.9s color infinite;
	animation: 0.9s color infinite;
}

@-webkit-keyframes color {
	50% {
		color: #999;
	}
}

.contakt h3 {
	margin: 80px auto 0;
	color:#444;
	font-size: 20px;
} 
.contakt p {

} 
.contact {
	width: 90%;
	height: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;

}
.tel {
	width: 160px;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}

.tel i {
	font-size: 20px;
	color: #8a3a62;
}
.tel-form-logo {
	width: 100%;
	max-width: 700px;
	display: flex;
	margin: 0 auto;
	justify-content: space-;
	flex-wrap: wrap;
}
.telimg {
	width: 150px;
	height: 150px;
	margin: 10px auto;
}
.tel a {
	width: 160px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: #444;
	margin: 0 auto;
}	
.contact form {
	max-width: 750px;
	margin:25px auto 0;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contact input {
	width: 100%;
	max-width: 358px;

	height: 50px;
	background: none;
	border:1px solid;
	padding:0 20px;
	box-sizing: border-box;
	background: #F7E9C9;
	border-radius: 50px;
	outline: none;
}
.contact input::placeholder {
	color:#444;
}
.contact textarea {
	width: 100%;
	height: 210px;
	background: none;
	border:1px solid;
	padding:20px;
	box-sizing: border-box;
	margin:20px auto;
	resize: none;
	background: #F7E9C9;
	border-radius: 25px;
	outline: none;
}
.contact button {
	width: 165px;
	height: 40px;
	background: #F7E9C9;
	font-weight: bold;
	color: #444;
	cursor: pointer;
	border:1px solid #444;
	border-radius: 10px;
	font-size: 16px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
}
/*----------------- BLOG -----------------*/

.tovaru {
	width: 100%;
	height: 100%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
.tovaru h1 {
	width: 320px;
	font-size: 36px;
	margin: 0 auto;
	color:#444;
}
.tov-img {
	margin: 10px auto;
	display: flex;
}
.tov-img img {
	margin: 0 0 0 10px;
	max-width: 200px;
	max-height: 300px;
}

.tov-cont {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 10px auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.tov-cont h6 {
	font-size: 22px;
	margin: 0 auto;
}
.tov-cont p {
	font-size: 16px;
	margin-top: 10px;
	text-align: justify;
}
.tovaru-sex {
	position: relative;
	border: 2px solid #f7def2;
	color: #444;
	width: 90%;
	max-width: 950px;
	height: 100%;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	background: #f7def2;
	margin: 10px auto;
	display: flex;

}
.right_tooltip:before{
	content: "";
	position: absolute;
	top: -30px;
	left: -50px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #f7def2;
	border-bottom: 50px solid transparent;
	transform: rotateX(180deg);
	z-index: -1;
}


/* ----------O NAS------------- */
.about { 
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
}
.about h1 {
	font-size: 36px;
	color: #444;

}
.about p {
	width: 50%;
	line-height: 20px;
	font-size: 16px;
	color:#444;
	margin: 0 auto;
	text-align: justify;
}
.kachestvo {
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.kachestvo img {
	width: 100px;
	height: 100px;
	margin: 0 10px;
	filter: blur(1px);
}
.kach-img1:hover {
	filter:blur(0);
	transform:rotateX(360deg);
	transition:.8s;
}
.kach-img2:hover {
	filter:blur(0);
	transform:rotateY(360deg);
	transition:.8s;
}
.kach-img3:hover {
	filter:blur(0);
	transform:rotateZ(360deg);
	transition:.8s;
}
/*--------Tovar----------*/

.cart-tovar {
	width: 90%;
	height: 100%;
	margin: 30px auto;

}
.cart-tov-cont {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0 auto;
}
.cart-tovar h1 {
	font-size: 36px;
	line-height: 0;
	text-align: center;
	color:#444;
}
.cart-tovar h1 p {
	font-size: 36px;
	line-height: 36px;
}
.cartinki {
	width: 90%;
	max-width: 600px;
	height: 100%;
	border-radius: 30px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0,0,0,5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;

}
.cartinka img {
	max-width: 250px;
	max-height: 300px;
	margin: 5px auto;
}
.cart-img {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
}
.cart-img img {
	max-width: 100px;
	max-height: 150px;
}
.cart-img a {
	margin: 5px;
}
.cart-opis {
	width: 90%;
	max-width: 900px;
	height: 100%;
	border:1px solid #444;
	border-radius: 30px;	
	margin: 10px auto;
	background: rgba(247,233,201,.6);
	box-shadow: 0 0 15px rgba(0,0,0,5);
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px 20px;
	margin: 0 0 0 15px;
	box-sizing: border-box;
}
.opis-tab {
	width: 100%;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.opisanie-tov {
	margin: 20px auto;
}
.opisanie-tov p {
	max-width: 400px;
	color:#444;
	font-size: 20px;
	text-align: justify;
	margin: 10px 10px 0 0;
}
table {
	text-align: center;
}
.tablica {
	margin: 20px auto;

}
caption {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
td {
	padding: 5px;
}
.opisanie-tov h4 {
	font-size: 20px;
	margin: 0 auto;
}
.cena-kupit {
	margin: 0;
}
.cena {
	font-weight: bold;
	font-size: 30px;
}
.cena-kupit button {
	outline: none;
	cursor: pointer;
	width: 150px;
	font-size: 30px;
	padding: 10px;
	border-radius:15px;
	margin: 0;
	text-align: center;
	border:1px solid #444;
	color:#444;
	box-shadow:0 0 15px rgba(0,0,0,5);
}
.cena-kupit button:hover {
	background: #555;
	transition: .5s;
	color: #fff;
}
.cena-kupit button:active {
	box-shadow: none;
}

/* /////////////////-------18+-----////////////////////// */
.sovershennoletnie {
	width: 90%;
	height: 100%;
	margin: 10px auto;
	display: flex;

}
.sov-text {
	display: flex;
	flex-direction: column;
}
.sov {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.sovershennoletnie img {
	margin-top: 20px;
	width: 150px;
	height: 150px;
}
.sov h1 {
	font-style: 36px;
	font-weight: bold;
	color:#444;
}
.sov-p {
	width: 60%;
	text-align: justify;
	margin: 0 auto;
	color:#444;
}
.sov-p p {
	margin-bottom: 10px;
}
.sov-p span {
	font-weight: bold;
}
.stop {
	font-weight: bold;
	color:red;
}
.opredilenie {
	text-decoration: underline;
	font-weight: bold;
}


/* --------------FOOTER------------------- */


footer {
	width: 90%;
	margin: 0 auto;
	height:100%;
	background: #8A3A62;
	display: flex;
	justify-content: space-around;

}
footer .social {
	width: 90%;
	margin: 30px auto;
	display: none;
	flex-wrap: nowrap;
}
.foot-menu {
	color:#fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;

}
.foot-a,
.foot-menu p {
	text-decoration: none;
	color:#fff;
	font-size: 11px;
	text-transform:capitalize;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}
.foot-a:hover {
	color:#444;
}



.btnup {
	width: 70px;
	height: 30px;
	background:rgba(138,58,98, .5);
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid #fff;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	position: fixed;
	right: 1%;
	bottom: 0%;
	outline: none;
}









