@media(max-width: 1160px) {
	.container {	
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media(max-width: 900px) {
	header h3{
		margin:100px 15px;

	}
}
@media(max-width: 600px) {
	header h3{
		margin:50px 15px;
		font-size: 30px;
	}
	header {
		min-height: auto;
	}
	.container {
		flex-direction: column;
		padding-top: 20px;
	}
	nav {
		margin-top: 25px;
	}
	nav ul {
		justify-content: center;
	}
	nav li {
		margin:0 15px;
	}
}
@media(max-width: 420px) {

	nav ul {
		flex-direction: column;
	}
	nav li {
		margin: 0;
	}
	nav a {
		display: block;
		height: 50px;
		background: #fcac45;
		line-height: 50px;
		border-bottom: 2px solid #000;
		color:#000;
	}
	header h3 {
		display: none;
	}
	header .button a {
		padding-top: 20px;
	}
	.button a {
		height: 50px;
		line-height: 30px;
		margin: 20px 0;}
	}